<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
          All Rents 
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-money"></i>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">
                Rents
              </span>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
  
        </ul>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              All Rents
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ng-template #alertBox></ng-template>
        </div>
      </div>
      <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
          <div class="row align-items-center">
            <div class="col-xl-8 order-2 order-xl-1">
              <div class="form-group m-form__group row align-items-center">
                <div class="col-md-4 offset-lg-8">
                  <div class="m-input-icon m-input-icon--left">
                    <input type="text" class="form-control m-input" placeholder="Search...">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
  
              <div class="m-separator m-separator--dashed d-xl-none"></div>
            </div>
          </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <ngx-datatable #table [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
          <ngx-datatable-column name="index">
            <ng-template let-column="column" ngx-datatable-header-template>
              S/N
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="duration">
            <ng-template let-column="column" ngx-datatable-header-template>
              Duration
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  
              {{value}}
  
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="rentReason">
            <ng-template let-column="column" ngx-datatable-header-template>
              Rent Reason
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  
              {{value}}
  
            </ng-template>
          </ngx-datatable-column>
  
          <ngx-datatable-column name="occupation">
            <ng-template let-column="column" ngx-datatable-header-template>
              Occupation
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  
              {{value}}
  
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="createdAt">
            <ng-template let-column="column" ngx-datatable-header-template>
              Date Requested 
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  
              {{value}}
  
            </ng-template>
          </ngx-datatable-column>
         
          <ngx-datatable-column name="status">
            <ng-template let-column="column" ngx-datatable-header-template>
              Status
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  
              {{value}}
  
            </ng-template>
          </ngx-datatable-column>
         
          <ngx-datatable-column name="_id">
            <ng-template let-column="column" ngx-datatable-header-template>
              Action
            </ng-template>
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  
              <div class="dropdown ">
                <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                  <i class="la la-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right " x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-186px, 33px, 0px);">
                  <a class="dropdown-item"  data-toggle="modal" data-target="#adjust_amount">
                    <i class="la la-edit"></i> Approve / Disaprove</a>
                  
                </div>
              </div>
  
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <!--end: Datatable -->
      </div>
    </div>
  
  </div>
  <div class="modal fade" id="adjust_amount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Approve / Disapprove </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
    
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>